bin/
obj/
Library/
Temp/
*.meta
.vs
UnityVS
*.sou
*.sln
*.csproj
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
/captures
.externalNativeBuild
*.sw[ponm]
workspace.xml
*/.idea/caches
